.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px, solid, #2A363B;
    background-color: rgb(132, 138, 139);
  box-shadow: 1px 6px 10px -1px #000000;
  padding: 10px 10px;
}
